@import url("./font.css");
@import url("./animation.css");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'OpenSans', serif, sans-serif;
  font-weight: lighter;
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.wrapper {
  margin: 0 175px;
  padding: 0 15px;
}

.bg-back {
  width: 100%;
  min-height: 300px;
  background: url("../images/bg.jpg") center fixed;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.8);
  background-blend-mode: multiply;
  color: #fff;
}

.header-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header {
  width: 58%;
  color: #fff;
}

.header-logo {
  width: 211px;
  height: 37px;
  background: url("../images/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin: 100px 0 40px;
}

.header-title {
  font-size: 56px;
  font-weight: lighter;
  margin: 30px 0;
}

.header-slogan {
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 16px;
}

.button {
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  padding: 15px 35px;
  margin-right: 15px;
  border: #3eb0f7 solid 2px;
  border-radius: 50px;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.button.primary {
  background-color: #3eb0f7;
  color: #fff;
}

.button.primary:hover {
  background-color: transparent;
  color: #3eb0f7;
}

.button.default {
  color: #3eb0f7;
}

.button.default:hover {
  background-color: #3eb0f7;
  color: #fff;
}

.form {
  width: 38%;
  min-height: 358px;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  margin: 150px 0 100px;
  padding: 0 15px;
}

.form-title {
  color: #fff;
  text-align: center;
  margin: 25px;
  font-weight: lighter;
  font-size: 22px;
  text-transform: uppercase;
}

.form-item {
  width: 100%;
  height: 50px;
  margin-bottom: 10px;
  border: 0;
  border-radius: 5px;
  padding: 0 15px;
  font-size: 16px;
  outline: none;
}

.form-accept {
  font-size: 13px;
  text-align: center;
  line-height: 30px;
  font-weight: lighter;
}

[type="submit"] {
  background-color: #3eb0f7;
  color: #fff;
  font-weight: normal;
  -webkit-transition: .3s linear;
  transition: .3s linear;
  cursor: pointer;
}

[type="submit"]:hover {
  background-color: #1a95e2;
}

.navigation {
  min-height: 50px;
}

.navi-wrap {
  border-bottom: #cecece solid 1px;
  background: #ffffffe8;
}

.nav-top {
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;
}

.menu {
  min-height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu-logo {
  height: 38px;
}

.menu img {
  height: 38px;
}

.menu-list {
  padding: 0 15px;
}

.menu-list a {
  color: #777;
  padding: 15px;
  -webkit-transition: .3s linear;
  transition: .3s linear;
  font-weight: normal;
}

.menu-list a:hover {
  color: #3eb0f7;
}

.menu-list a.active {
  color: #3eb0f7;
}

.intro, .feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 100px 0 70px;
}

.intro-image, .feature-image {
  width: 50%;
  padding: 0 15px;
  margin-top: 20px;
}

.intro-image img, .feature-image img {
  width: 100%;
}

.intro-content, .feature-content {
  width: 50%;
  padding: 0 15px;
}

h2 {
  color: #777;
  font-size: 40px;
  margin: 15px 0;
  line-height: 52px;
}

.text {
  color: #777;
  line-height: 28px;
  padding-bottom: 30px;
}

.advantage {
  background-color: #f6f6f6;
  padding-top: 100px;
}

.advantage-title {
  width: 900px;
  text-align: center;
  margin: 0 auto;
}

.advantage-title--text {
  font-size: 18px;
}

.advantage-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.advantage-content-image {
  width: 33%;
  padding-right: 15px;
}

.advantage-content-image img {
  display: block;
  width: 100%;
}

.advantage-content-cervices {
  width: 67%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 15px;
}

.advantage-icon {
  width: 20%;
  height: 100%;
  font-size: 46px;
  font-weight: normal;
  color: #555;
  margin-right: 30px;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

.cervice-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  padding: 0 15px;
  margin-top: 20px;
}

.cervice-item:hover .advantage-icon {
  color: #3eb0f7;
}

h4 {
  color: #777;
  font-size: 20px;
  margin: 10px 0;
  font-weight: normal;
}

.how {
  padding-top: 100px;
  width: 750px;
  color: #fff;
  text-align: center;
  margin: 0 auto;
}

.how-title {
  color: #fff;
}

.how-text {
  color: #fff;
  font-size: 18px;
}

.how-btn {
  padding: 15px 0 100px;
}

.how-button {
  display: inline-block;
  font-size: 20px;
  padding: 20px 50px;
  background-color: #3eb0f7;
  border-radius: 5px;
  color: #fff;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.how-button:hover {
  background-color: #1a95e2;
}

.price {
  padding: 100px 0;
}

.title {
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  line-height: normal;
  font-weight: normal;
  margin: 0 0 10px;
}

.title-line {
  width: 100px;
  height: 2px;
  background: #3eb0f7;
  margin: 0 auto;
}

.packages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 50px;
}

h3 {
  color: #777;
  font-size: 22px;
  text-align: center;
  font-weight: normal;
}

.category {
  width: 25%;
  border: solid #d1d1d1 1px;
  border-radius: 2px;
  margin: 0 15px;
  color: #777;
  font-size: 18px;
  text-align: center;
}

.category-icon {
  color: #d1d1d1;
  font-size: 75px;
  margin-top: 20px;
}

.category-button {
  display: inline-block;
  font-size: 18px;
  padding: 7px 35px;
  background-color: #3eb0f7;
  border-radius: 5px;
  text-transform: uppercase;
  color: #fff;
  margin: 5px 0 15px;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.category-button:hover {
  background-color: #1a95e2;
}

.total {
  padding: 30px 0 10px;
}

.total-from {
  position: relative;
  bottom: 48px;
}

.total-num {
  font-size: 60px;
  font-weight: normal;
  color: #3eb0f7;
}

.options {
  font-size: 16px;
  margin-bottom: 10px;
}

.options-description {
  line-height: 28px;
  margin: 0 30px;
  padding: 5px 0;
  border-bottom: solid #d1d1d1 1px;
}

.client {
  background: #f6f6f6;
  padding: 70px 0;
}

.client-companys {
  text-align: center;
  margin-top: 30px;
}

.client-companys-partner {
  width: 200px;
  height: 100px;
  margin: 0 15px;
}

.feedback {
  padding: 100px 0;
  color: #777;
}

.feedback-display {
  position: relative;
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
}

.feedback-tape {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 300%;
  height: 100%;
  left: 0;
  -webkit-transition: all .4s linear;
  transition: all .4s linear;
}

.feedback-item {
  width: 100%;
  text-align: center;
  padding-top: 30px;
}

.feedback-item img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.feedback-item-text {
  padding: 20px;
  font-style: italic;
  line-height: 30px;
  font-size: 20px;
}

.feedback-item-company {
  font-size: 16px;
  font-style: italic;
  color: #3eb0f7;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pagination-page {
  width: 12px;
  height: 12px;
  background: #3eb0f7;
  opacity: .5;
  border-radius: 50%;
  margin: 5px 7px;
  -webkit-transition: .3s linear;
  transition: .3s linear;
  cursor: pointer;
}

.pagination-page:hover {
  opacity: 1;
}

.active {
  opacity: 1;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 100px 0;
  color: #fff;
}

.contacts-icon {
  color: #3eb0f7;
  font-size: 25px;
  line-height: 30px;
  position: absolute;
  left: 0;
}

.contacts-content {
  width: 40%;
}

.contacts-content-title {
  color: #3eb0f7;
  font-weight: normal;
}

.contacts-content h2 {
  color: #fff;
  font-size: 28px;
  margin: 0 0 10px;
  font-weight: normal;
}

.contacts-content-info {
  position: relative;
  padding-left: 40px;
}

.contacts-content-text {
  line-height: 24px;
  margin-bottom: 10px;
}

.contacts-content a {
  color: #3eb0f7;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

.contacts-content a:hover {
  color: #fff;
}

.contacts-question {
  width: 60%;
}

.contacts-question-field {
  min-height: 30px;
  width: 100%;
  padding: 10px 25px;
  font-size: 18px;
  border: 0;
  border-radius: 4px;
  margin-bottom: 15px;
  line-height: 30px;
  outline: none;
}

textarea {
  height: 120px;
  resize: none;
}

footer {
  padding: 50px 0;
}

footer .social {
  text-align: center;
}

footer .social-item {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  color: #3eb0f7;
  border: #3eb0f7 solid 1px;
  border-radius: 50%;
  margin: 0 3px;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

footer .social-item:hover {
  background: #3eb0f7;
  color: #fff;
}

.scroll-top {
  display: none;
  opacity: 0;
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 40px;
  height: 40px;
  color: white;
  font-size: 30px;
  padding: 5px;
  text-align: center;
  background: #00000033;
  border-radius: 50%;
  line-height: 28px;
  -webkit-transition: all .6s ease;
  transition: all .6s ease;
}

.scroll-top:hover {
  color: #3eb0f7;
}
/*# sourceMappingURL=style.css.map */